body{
	background-color: gray;
}

.header{
    text-align: center;

}
.scoreboard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 400px;
	font-family: 'Quicksand', sans-serif;
}

.scoreboard_name,
.scoreboard_score {
	padding: 10px;
	text-align: center;
}

.scoreboard_name {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
    font-size: 2rem;
}

.scoreboard_name-one {
	color: #009578;
}

.scoreboard_name-two {
	color: #2d0095;
}

.scoreboard_score {
	font-size: 2em;
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid ;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    transition: .3s;
    z-index: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ;
    width: 150px;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: ;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
     
   button:hover {
    color: white;
   }
