.header{
    text-align: center;

}
.scoreboard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 300px;
	font-family: 'Quicksand', sans-serif;
}

.scoreboard_name,
.scoreboard_score {
	padding: 10px;
	text-align: center;
}

.scoreboard_name {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
    font-size: 2rem;
}

.scoreboard_name-one {
	color: #009578;
}

.scoreboard_name-two {
	color: #2d0095;
}

.scoreboard_score {
	font-size: 2em;
}

